<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="49752MichaelS.Scherotter.AnimatedGIFCreator" Publisher="CN=mischero" Version="1.1.19.0" />
  <mp:PhoneIdentity PhoneProductId="3f529d8f-7401-4e6a-b44b-58fa8142299c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Animated GIF Creator</DisplayName>
    <PublisherDisplayName>Michael S. Scherotter</PublisherDisplayName>
    <Logo>Assets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AnimatedGifCreator.App">
      <uap:VisualElements DisplayName="ms-resource:DisplayName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ms-resource:Description" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#CBD0E8" />
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" ShortName="ms-resource:ShortName">
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="video">
            <uap:DisplayName>ms-resource:Video</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/x-ms-wmv">.wmv</uap:FileType>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
              <uap:FileType ContentType="video/avi">.avi</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="CreationService.GifCreator">
          <uap:AppService Name="com.charette.gifcreator" />
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="CreationService.GifCreator">
          <uap:AppService Name="Transcoder.Transcode.1" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>